:root {
  --primary-color: #680944;
  --secondary-color: #cfb893;
}
body {
  font-family: "Source Sans 3";
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 18px;
  line-height: 26px;
  color: var(--secondary-color);
}
h2 {
  font-size: 44px;
  font-family: "Satoshi";
  font-weight: 700;
}
/* nav bar start */
.navBar {
  background-color: white;
  position: sticky;
  height: 90px;
  top: 0;
  z-index: 1000;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.navLogo img {
  width: 213px;
  height: 50px;
}

.navLinksAndBtnContainer {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navLinkscontainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.navLinks {
  color: black;
  text-decoration: none;
  padding: 0 15px;
  display: block;
}

.navLinks:hover {
  color: var(--primary-color) !important;
}
.navLinks.active {
  color: var(--secondary-color);
  margin-top: -1px;
}

.navBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navBtn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* nav bar end */
/* mobile nav bar start */
.navBarMobile {
  display: none;
  z-index: 1000;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.hamburger {
  background-color: transparent !important;
}
.hamburger:hover {
  background-color: transparent !important;
}
.container-fluid {
  padding: 0 0 0 32px;
}
.navigationMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 0;
}
/* mobile nav bar end */
/* top Section start */

#topSection {
  background-image: url("../images/topSectin/topSectionImg.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow-x: hidden;
}
#topSection h2 {
  color: white;
  margin: 0;
  padding: 0;
}
.tsFormContainer {
  border-left: 1px solid white;
  width: 500px;
  height: calc(100vh - 90px);
  background-color: #5c727d7a;
  backdrop-filter: blur(2px);
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.3s ease;
}
.tsFormContainer.active {
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
#tsGetinTouchToggleClassBtn {
  position: absolute;
  top: 50px;
  rotate: -90deg;
  right: -28px;
}
#tsGetinTouchToggleClassBtn.active {
  right: -48px;

}

.tsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tsForm input {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
}
.tsForm button {
  width: fit-content;
  margin-top: 10px;
}
.tsbtnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tsbtnContainer button {
  background-color: #888e8a;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  line-height: 22px;
}
/* top Section end */
/* section1 start */
#section1 {
  padding: 130px 160px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "first second";
  /* grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "first" " second"; */
  align-items: center;
  height: 100% !important;
}
.aboutImgContainer {
  grid-area: first;
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  height: 660px;
}
.aboutImgContainer img {
  width: 400px;
  height: 520px;
}
.aboutImgContainer img:hover {
  z-index: 1;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.aboutImg1 {
  position: absolute;
  top: 120px;
}
.aboutImg2 {
  position: absolute;
  left: 120px;
}
.abouTextContainer {
  grid-area: second;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 48px;
}

.abouTextContainer h2 {
  margin-bottom: 26px;
  width: 80%;
}
.aboutCardContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.aboutCards {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
.aboutCard {
  /* border: 1px solid black; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  background-color: #f1eadf;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.aboutCard:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.aboutCard img {
  margin-bottom: 16px;
}
.aboutCard h3 {
  font-family: "Satoshi";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.aboutCard p {
  margin: 0;
}
/* section1 end */
/* special start */
#special {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "specialText specialImg";
  align-items: center;
  /* border: 1px solid black; */
  height: 100% !important;
}
.specialTextContainer {
  /* border: 1px solid black; */
  grid-area: specialText;
  padding: 0 70px 0 140px;
  background-color: #fbf8f5;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 48px;
  height: 100%;
}
.specialTextContainer h2 {
  margin-bottom: 26px;
  width: 80%;
}
.specialCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  /* border: 1px solid black; */
}
.specialCards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* border: 1px solid black; */
}

.specialCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  gap: 16px;
  width: 45%;
}
.specialCard p {
  margin: 0;
}

.specialImgContainer {
  background-image: url("/static/images/special/specialImg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 1px solid black; */
  grid-area: specialImg;
  width: 100%;
  height: 100%;
}
.specialImgContainer img {
  width: 100%;
  height: 100%;
}
/* special end */
/* pricing start */
#section2 {
  padding: 130px 140px;
  text-align: center;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.pricingCardContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.pricingCard {
  /* border: 1px solid black; */
  width: 30%;
  padding: 48px 34px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all 0.3s ease;
}
.pricingCard h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Satoshi";
}
.pricingCard h4 span {
  font-size: 42px;
  font-weight: 900;
  font-family: "Satoshi";
}
.pricingCardTop {
  /* border: 1px solid black; */
  padding: 16px 28px;
  background-color: #f1eadf;
  border-radius: 10px;
}
.pricingCardTop h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color) !important;
}
.pricingCardBottomStyle {
  background-color: var(--primary-color);
  height: 10px;
  width: 180%;
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ease;
}
.pricingCard:hover .pricingCardBottomStyle {
  bottom: 0;
  transition: all 0.3s ease;
}
.pricingCard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease;
}
/* pricing end */
/* gallery start */
#section3 {
  background-image: url("/static/images/gallery/galleryBackgroundImg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 130px 140px;
  height: 100% !important;
  position: relative;
  margin-bottom: 230px;
}
.galleryTextContent {
  margin-bottom: -300px;
}
.galleryTextContent h1 {
  color: white;
}
.galleryTextContent h2 {
  color: white;
  width: 50%;
}
.owl-one.owl-carousel {
  padding: 8px;
  /* border: 1px solid black; */
  position: relative;
  top: 360px;
  border-radius: 10px;
  background-color: white;
}
.owl-one.owl-carousel .item {
  border: 10px solid white;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.owl-one.owl-carousel .item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.owl-one {
  position: relative;
}
.owl-one .owl-nav button {
  background-color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.owl-one .owl-nav button.owl-prev {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 20px !important;
  border-radius: 10px !important;
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.owl-one .owl-nav button.owl-prev:hover,
.owl-one .owl-nav button.owl-next:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.owl-one .owl-nav button.owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 20px !important;
  border-radius: 10px !important;
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.owl-one .owl-nav button.owl-prev {
  top: -140px !important;
  right: 100px !important;
}
.owl-one .owl-nav button.owl-next {
  top: -140px !important;
  right: 10px !important;
}
/* gallery end */
/* benefits start */
#section4 {
  padding: 130px 140px;
  text-align: center;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 64px;
  /* border: 1px solid black; */
}
.benefitsCardContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 52px;
}
.benefitsCard {
  /* border: 1px solid black; */
  width: 22%;
  padding: 38px 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: start;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all 0.3s ease;
}
.benefitsCard h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}
.benefitsCard h4 {
  font-size: 22px;
  font-weight: 900;
  font-family: "Satoshi";
}
.benefitsCardTop {
  /* border: 1px solid black; */
  width: fit-content;
  margin-left: auto;
  margin-bottom: 30px;
}
.benefitsCardBottomStyle {
  background-color: var(--primary-color);
  height: 10px;
  width: 180%;
  position: absolute;
  bottom: -10px;
  left: -40%;
  transition: all 0.3s ease;
}
.benefitsCard:hover .benefitsCardBottomStyle {
  bottom: 0;
  transition: all 0.3s ease;
}
.benefitsCard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease;
}
/* benefits end */
/* location start */
#section5 {
  padding: 130px 140px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 100% !important;
  /* border: 1px solid black; */
  background-color: #fbf8f5;
}
#section5 h2,
.locationTextContentP {
  width: 40%;
}
.locationMapContainer {
  /* border: 1px solid black; */
  display: flex;
  gap: 90px;
}
.locationMap {
  border: 20px solid white;
  border-radius: 10px;
  width: 780px;
  height: 550px;
}
.locationMap iframe {
  width: 100%;
  height: 100%;
}
.locationData {
  border: 20px solid white;
  background-color: white;
  border-radius: 10px;
  width: 410px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.locationData img {
  width: 370px;
}
.locationData h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Satoshi";
  margin: 0;
}
.locationData p {
  margin: 0;
}
.locationData span {
  color: var(--primary-color);
}
.locationBottom-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  /* border: 1px solid black; */
}
.locationBottom-item {
  background-color: transparent;
  position: relative;
  transition: z-index 0.3s;
  /* border: 1px solid black; */
  width: 80%;
  border-radius: 10px;
  height: 70px;
}
.locationBottom-question {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}
.locationBottom-questionContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.locationBottom-questionContent img {
  width: 40px;
  height: 40px;
}
.locationBottom-questionContent h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Satoshi";
  margin: 0;
}
.toggle-icon {
  font-size: 32px !important;
  margin: 0;
}
.locationBottom-answer {
  display: none;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  flex-direction: column;
  gap: 8px;
  padding: 0px 60px 20px;
  color: var(--primary-color);
}
.locationBottom-answer p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.toggle-icon {
  font-weight: bold;
  font-size: 20px;
}
.locationBottom-item.active {
  z-index: 2;
}
.locationBottom-item.active .locationBottom-answer,
.locationBottom-item.active .locationBottom-question {
  background-color: white;
}
/* location end */
/* floor plans start */
#section6 {
  padding: 130px 140px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 100% !important;
}
#section6 h2 {
  width: 40%;
}
.owl-two.owl-carousel {
  /* border: 1px solid black; */
  border-radius: 10px;
}
.owl-two.owl-carousel .item {
  width: 90%;
  margin: 25px auto;
  /* border: 1px solid black; */
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: all 0.3s ease;
  position: relative;
}
.owl-two.owl-carousel .item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease;
}
.owl-two.owl-carousel .item h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Satoshi";
  margin: 0;
}
.floorImg {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: blur(6px);
}
.floorImg.active {
  filter: blur(0px);
}
.unlockBtn {
  width: fit-content;
  position: absolute;
  right: 50%;
  top: 40%;
  transform: translate(50%, -50%);
  padding: 10px 20px;
}
.owl-two {
  position: relative;
}
.owl-two .owl-nav button {
  background-color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.owl-two .owl-nav button.owl-prev {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 20px !important;
  border-radius: 10px !important;
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.owl-two .owl-nav button.owl-prev:hover,
.owl-two .owl-nav button.owl-next:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.owl-two .owl-nav button.owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 20px !important;
  border-radius: 10px !important;
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.owl-two .owl-nav button.owl-prev {
  top: -140px !important;
  right: 100px !important;
}
.owl-two .owl-nav button.owl-next {
  top: -140px !important;
  right: 10px !important;
}
/* floor plans end */
/* FAQ start */
#section7 {
  padding: 130px 140px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 100% !important;
  background-color: #fbf8f5;
}
.faq-item {
  margin: 10px 0;
  border-bottom: 2px solid #f1e9df;
}
.faq-question {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-question h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Satoshi";
  margin: 0;
}
.faq-answer {
  display: none;
  padding: 10px;
}
.toggle-icon {
  font-weight: bold;
  font-size: 20px;
}
/* FAQ end */
/* needhelp start */
#section8 {
  background-color: #fbf8f5;
  padding: 0px 140px 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  /* border: 1px solid black; */
}
.needHelpTextContent {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.needHelpTextContent h1,
.needHelpTextContent h2,
.needHelpTextContent p {
  margin: 0;
}
.needHelpTextContent h2 {
  margin-top: 16px;
  margin-bottom: 24px;
}
.needhelpFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  /* border: 1px solid black; */
  padding: 32px;
}
.needhelpFormContainer input {
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  padding: 16px 24px;
  border-radius: 10px;
}
.needhelpFormContainer button {
  margin-top: 6px;
}
/* needhelp end */
/* footer start */
footer {
  /* border: 1px solid orange; */
  margin-top: -50px;
  overflow: hidden;
}
.footerTop {
  /* border: 1px solid black; */
  margin: 0 140px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cfb893;
  border-radius: 10px;
  position: relative;
  top: 50px;
}
.footerTop p {
  margin: 0;
}
.footerTop h3 {
  margin-bottom: 14px;
  font-size: 34px;
  font-weight: 700;
  font-family: "Satoshi";
}
.footerTop button:hover {
  border: 2px solid var(--primary-color);
}
.footerLine {
  width: 100%;
  height: 100px;
  background-color: #171b2a;
}
.footerContainer {
  /* border: 1px solid black; */
  display: flex;
  background-color: #171b2a;
  color: white;
  padding: 0px 140px 50px;
  gap: 100px;
}
.footerLogoContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footerLogoContent {
  /* border: 1px solid black; */
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.footerLogoContent p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.footerMediaContainer {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footerLinks {
  /* border: 1px solid white; */
  display: flex;
  gap: 36px;
}
.footerLinks h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Satoshi";
}
.footerMedia {
  /* border: 1px solid white; */
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.footerBottom {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 140px;
  background-color: black;
  color: white;
}
.footerBottom p {
  margin: 0;
}
.footerBottom div {
  display: flex;
  gap: 20px;
}
/* footer end */

/* media query ----------------------------------------------------------------------------------------- */
/* nav bar for desktop small screens --------------------------------------------------------------- */
@media all and (min-width: 1025px) and (max-width: 1400px) {
  .navBar {
    padding: 0px 40px;
  }
  /* section1 start */
  #section1 {
    padding: 130px 140px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
  }
  .aboutImgContainer img {
    width: 50%;
    height: auto;
  }

  .aboutImg1 {
    position: static;
  }
  .aboutImg2 {
    position: static;
  }
  /* section1 end */
  /* special start */
  .specialTextContainer {
    padding: 0 0 0 80px;
  }
  .specialTextContainer p {
    width: 90%;
  }
  /* special end */
  /* pricing start */
  .pricingCard {
    width: 45%;
  }
  /* pricing end */
  /* gallery start */
  #section3 {
    padding: 130px 100px;
    margin-bottom: 180px;
  }
  .galleryTextContent h2 {
    color: white;
    width: 60%;
  }
  .galleryTextContent {
    margin-bottom: -240px;
  }
  .owl-one.owl-carousel {
    top: 300px;
  }
  /* gallery end */
  /* benefits start */
  #section4 {
    padding: 130px 100px;
  }
  .benefitsCard {
    width: 30%;
  }
  /* benefits end */
  /* location start */
  #section5 {
    padding: 130px 100px;
  }
  #section5 h2,
  .locationTextContentP {
    width: 55%;
  }
  .locationMapContainer {
    gap: 40px;
  }
  .locationMap {
    width: 780px;
    height: auto;
  }
  .locationBottom-item {
    width: 90%;
  }
  /* location end */
  /* floor plans start */
  #section6 {
    padding: 130px 140px 0;
  }
  #section6 h2 {
    width: 55%;
  }
  /* floor plans end */
  /* need help start */
  #section8 {
    padding: 0px 80px 130px;
    gap: 10px;
  }
  /* need help end */
  /* footer start */
  .footerTop {
    margin: 0 80px;
  }
  .footerContainer {
    padding: 0px 80px 50px;
  }
  .footerBottom {
    padding: 16px 80px;
  }
  /* footer end */
}
/* Desktops ---------------------------------------------------------------------------------------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: block;
    position: sticky !important;
    top: 0;
  }
  /* top Section start */
  #topSection {
    height: calc(100vh - 81px);
  }
  .tsFormContainer {
    height: calc(100vh - 81px);
  }
  /* top Section end */
  /* section1 start */
  #section1 {
    padding: 100px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
  }
  .aboutImgContainer img {
    width: 50%;
    height: auto;
  }

  .aboutImg1 {
    position: static;
  }
  .aboutImg2 {
    position: static;
  }
  /* section1 end */
  /* special start */
  #special {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "specialImg" "specialText";
  }
  .specialTextContainer {
    padding: 100px 140px;
  }
  .specialImgContainer {
    height: 100vh;
  }
  .specialImgContainer img {
    display: none;
  }
  /* special end */
  /* pricing start */
  #section2 {
    padding: 100px 40px;
  }
  .pricingCard {
    width: 45%;
  }
  /* pricing end */
  /* gallery start */
  #section3 {
    padding: 100px 40px;
    margin-bottom: 140px;
  }
  .galleryTextContent h2 {
    color: white;
    width: 70%;
  }
  .galleryTextContent {
    margin-bottom: -180px;
  }
  .owl-one.owl-carousel {
    top: 240px;
  }
  /* gallery end */
  /* benefits start */
  #section4 {
    padding: 100px 40px;
  }
  .benefitsCard {
    width: 45%;
  }
  /* benefits end */
  /* location start */
  #section5 {
    padding: 100px 40px;
  }
  #section5 h2,
  .locationTextContentP {
    width: 70%;
  }
  .locationMapContainer {
    gap: 40px;
  }
  .locationMapContainer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .locationMap {
    width: 100%;
    height: 480px;
  }
  .locationBottom-item {
    width: 90%;
  }
  /* location end */
  /* floor plans start */
  #section6 {
    padding: 100px 40px 0;
  }
  #section6 h2 {
    width: 70%;
  }
  /* floor plans end */
  /* FAQ start */
  #section7 {
    padding: 100px 40px;
  }
  /* FAQ end */
  /* need help start */
  #section8 {
    padding: 0px 40px 100px;
    gap: 0px;
  }
  /* need help end */
  /* footer start */
  .footerTop {
    margin: 0 40px;
  }
  .footerContainer {
    padding: 0px 40px 50px;
    flex-direction: column;
    gap: 20px;
  }
  .footerMedia {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  .footerBottom {
    padding: 16px 40px;
  }
  /* footer end */
}

/* Tablets ---------------------------------------------------------------------------------------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: block;
    position: sticky !important;
    top: 0;
  }
  /* top Section start */
  #topSection {
    height: calc(100vh - 81px);
  }
  .tsFormContainer {
    height: calc(100vh - 81px);
  }
  /* top Section end */
  /* section1 start */
  #section1 {
    padding: 80px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    display: none;
  }
  .abouTextContainer h2 {
    width: 100%;
  }
  /* section1 end */
  /* special start */
  #special {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "specialImg" "specialText";
  }
  .specialTextContainer {
    padding: 80px 40px;
  }
  .specialTextContainer h2 {
    width: 100%;
  }
  .specialImgContainer {
    height: 100vh;
  }
  .specialImgContainer img {
    display: none;
  }
  /* special end */
  /* pricing start */
  #section2 {
    padding: 80px 40px;
  }
  .pricingCard {
    width: 75%;
  }
  /* pricing end */
  /* gallery start */
  #section3 {
    padding: 80px 40px;
    margin-bottom: 100px;
  }
  .galleryTextContent h2 {
    color: white;
    width: 100%;
  }
  .galleryTextContent {
    margin-bottom: -120px;
  }
  .owl-one.owl-carousel {
    top: 180px;
  }
  .owl-one.owl-carousel .item {
    border: 5px solid white;
  }
  .owl-one .owl-nav button.owl-next,
  .owl-one .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
  }
  .owl-one .owl-nav button.owl-prev {
    top: -60px !important;
    right: 80px !important;
  }
  .owl-one .owl-nav button.owl-next {
    top: -60px !important;
    right: 10px !important;
  }
  /* gallery end */
  /* benefits start */
  #section4 {
    padding: 80px 40px;
  }
  .benefitsCard {
    width: 70%;
  }
  /* benefits end */
  /* location start */
  #section5 {
    padding: 80px 40px;
  }
  #section5 h2,
  .locationTextContentP {
    width: 100%;
  }
  .locationMapContainer {
    gap: 40px;
  }
  .locationMapContainer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .locationMap {
    width: 100%;
    height: 480px;
  }
  .locationData {
    width: 100%;
    height: auto;
  }
  .locationData img {
    width: 100%;
  }
  .locationBottom-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .locationBottom-item {
    width: 90%;
  }
  /* location end */
  /* floor plans start */
  #section6 {
    padding: 80px 40px 0;
  }
  #section6 h2 {
    width: 100%;
  }
  .owl-two .owl-nav button.owl-next,
  .owl-two .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
  }
  .owl-two .owl-nav button.owl-prev {
    top: -60px !important;
    right: 80px !important;
  }
  .owl-two .owl-nav button.owl-next {
    top: -60px !important;
    right: 10px !important;
  }
  /* floor plans end */
  /* FAQ start */
  #section7 {
    padding: 80px 40px;
  }
  /* FAQ end */
  /* need help start */
  #section8 {
    padding: 0px 40px 80px;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  /* need help end */
  /* footer start */
  .footerTop {
    margin: 0 40px;
    flex-direction: column;
    gap: 40px;
  }
  .footerContainer {
    padding: 0px 40px 50px;
    flex-direction: column;
    gap: 20px;
  }
  .footerMedia {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  .footerBottom {
    padding: 16px 40px;
    flex-direction: column;
    gap: 16px;
  }
  /* footer end */
}

/* Mobile devices ------------------------------------------------------------------------------------------ */
@media all and (max-width: 480px) {
  h2 {
    font-size: 36px;
  }
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: block;
    position: sticky !important;
    top: 0;
  }
  /* top Section start */
  #topSection {
    height: calc(100vh - 81px);
  }
  .tsFormContainer {
    height: calc(100vh - 81px);
    width: 100%;
    padding: 10px;
  }
  /* top Section end */
  /* section1 start */
  #section1 {
    padding: 40px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    display: none;
  }
  .abouTextContainer button {
    margin: auto;
  }
  .abouTextContainer h2 {
    width: 100%;
  }
  .aboutCards {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
  /* section1 end */
  /* special start */
  #special {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "specialImg" "specialText";
  }
  .specialTextContainer {
    padding: 40px 20px;
  }
  .specialTextContainer button {
    margin: auto;
  }
  .specialTextContainer h2 {
    width: 100%;
  }
  .specialImgContainer {
    height: 100vh;
  }
  .specialImgContainer img {
    display: none;
  }
  .specialCards {
    gap: 20px;
  }
  .specialCard {
    width: 95%;
  }
  /* special end */
  /* pricing start */
  #section2 {
    padding: 80px 20px;
    gap: 40px;
  }
  .pricingCard {
    width: 95%;
    padding: 20px;
  }
  /* pricing end */
  /* gallery start */
  #section3 {
    padding: 80px 20px;
    margin-bottom: 60px;
  }
  .galleryTextContent h2 {
    color: white;
    width: 100%;
  }
  .galleryTextContent {
    margin-bottom: -80px;
  }
  .owl-one.owl-carousel .item {
    border: 0px solid white;
  }
  .owl-one.owl-carousel {
    top: 140px;
  }

  .owl-one .owl-nav button.owl-next,
  .owl-one .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
  }
  .owl-one .owl-nav button.owl-prev {
    top: -60px !important;
    right: 80px !important;
  }
  .owl-one .owl-nav button.owl-next {
    top: -60px !important;
    right: 10px !important;
  }
  /* gallery end */
  /* benefits start */
  #section4 {
    padding: 80px 20px;
  }
  .benefitsCard {
    width: 90%;
  }
  /* benefits end */
  /* location start */
  #section5 {
    padding: 80px 20px;
  }
  #section5 h2,
  .locationTextContentP {
    width: 100%;
  }
  .locationMapContainer {
    gap: 40px;
  }
  .locationMapContainer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .locationMap {
    width: 100%;
    height: 480px;
    border: 10px solid white;
  }
  .locationData {
    width: 100%;
    height: auto;
    border: 10px solid white;
  }
  .locationData img {
    width: 100%;
  }
  .locationBottom-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .locationBottom-item {
    width: 100%;
  }
  /* location end */
  /* floor plans start */
  #section6 {
    padding: 80px 20px;
  }
  #section6 h2 {
    width: 100%;
  }
  .owl-two .owl-nav button.owl-next,
  .owl-two .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    font-size: 20px !important;
  }
  .owl-two .owl-nav button.owl-prev {
    top: -60px !important;
    right: 80px !important;
  }
  .owl-two .owl-nav button.owl-next {
    top: -60px !important;
    right: 10px !important;
  }
  /* floor plans end */
  /* FAQ start */
  #section7 {
    padding: 80px 20px;
  }
  /* FAQ end */
  /* need help start */
  #section8 {
    padding: 0px 20px 80px;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  .needhelpFormContainer {
    padding: 0;
  }
  .needhelpFormContainer button {
    margin: auto;
  }
  /* need help end */
  /* footer start */
  .footerTop {
    margin: 0 20px;
    flex-direction: column;
    gap: 40px;
  }
  .footerContainer {
    padding: 0px 20px 50px;
    flex-direction: column;
    gap: 20px;
  }
  .footerLogoContent {
    flex-direction: column;
    align-items: center;
  }
  .footerMedia {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
  }
  .footerBottom {
    padding: 16px 20px;
    flex-direction: column;
    gap: 16px;
  }
  /* footer end */
}
