:root {
  --primary-color: #680944;
  --secondary-color: #cfb893;
}
body {
  font-family: "Source Sans 3";
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 18px;
  line-height: 26px;
  color: var(--secondary-color);
}
h2 {
  font-size: 44px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
}
/* nav bar start */
.navBar {
  background-color: white;
  position: sticky;
  height: 90px;
  top: 0;
  z-index: 1000;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.navLogo img {
  width: 213px;
  height: 50px;
}

.navLinksAndBtnContainer {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navLinkscontainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}

.navLinks {
  color: black;
  text-decoration: none;
  padding: 0 15px;
  display: block;
}

.navLinks:hover {
  color: var(--primary-color) !important;
}
.navLinks.active {
  color: var(--secondary-color);
  margin-top: -1px;
}

.navBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navBtn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* nav bar end */
/* mobile nav bar start */
.navBarMobile {
  display: none;
  z-index: 1000;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.hamburger {
  background-color: transparent !important;
}
.hamburger:hover {
  background-color: transparent !important;
}
.container-fluid {
  padding: 0 0 0 32px;
}
.navigationMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 0;
}
/* mobile nav bar end */
/* top Section start */

#topSection {
  background-image: url("../images/topSectin/topSectionImg.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow-x: hidden;
}
#topSection h2 {
  color: white;
  margin: 0;
  padding: 0;
}
.tsFormContainer {
  border-left: 1px solid white;
  width: 500px;
  height: calc(100vh - 90px);
  background-color: #5c727d7a;
  backdrop-filter: blur(25px);
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.3s ease;
}
.tsFormContainer.active {
  transform: translateX(-100%);
  transition: all 0.3s ease;
}
#tsGetinTouchToggleClassBtn {
  position: absolute;
  top: 50px;
  right: -48px;
  rotate: -90deg;
}
#tsGetinTouchToggleClassBtn.active {
  right: -28px;
}

.tsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tsForm input {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
}
.tsForm button {
  width: fit-content;
  margin-top: 10px;
}
.tsbtnContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tsbtnContainer button {
  background-color: #888e8a;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  line-height: 22px;
}
/* top Section end */
/* section1 start */
#section1 {
  padding: 130px 160px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "first second";
  /* grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "first" " second"; */
  align-items: center;
  height: 100% !important;
}
.aboutImgContainer {
  grid-area: first;
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  width: 100%;
  height: 660px;
}
.aboutImgContainer img {
  width: 400px;
  height: 520px;
}
.aboutImgContainer img:hover {
  z-index: 1;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.aboutImg1 {
  position: absolute;
  top: 120px;
}
.aboutImg2 {
  position: absolute;
  left: 120px;
}
.abouTextContainer {
  grid-area: second;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 48px;
}

.abouTextContainer h2 {
  margin-bottom: 26px;
  width: 80%;
}
.aboutCardContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.aboutCards {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
.aboutCard {
  /* border: 1px solid black; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  background-color: #f1eadf;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.aboutCard:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.aboutCard img {
  margin-bottom: 16px;
}
.aboutCard h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.aboutCard p {
  margin: 0;
}
/* section1 end */
section {
  /* border: 1px solid green; */
  width: 100%;
  height: 100vh;
}

/* media query ----------------------------------------------------------------------------------------- */
/* nav bar for desktop small screens --------------------------------------------------------------- */
@media all and (min-width: 1025px) and (max-width: 1400px) {
  .navBar {
    padding: 0px 40px;
  }
  /* section1 start */
  #section1 {
    padding: 130px 140px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
  }
  .aboutImgContainer img {
    width: 50%;
    height: auto;
  }

  .aboutImg1 {
    position: static;
  }
  .aboutImg2 {
    position: static;
  }
  /* section1 end */
}
/* Desktops ---------------------------------------------------------------------------------------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: block;
    position: sticky !important;
    top: 0;
  }
  /* top Section start */
  #topSection {
    height: calc(100vh - 81px);
  }
  .tsFormContainer {
    height: calc(100vh - 81px);
  }
  /* top Section end */
  /* section1 start */
  #section1 {
    padding: 100px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
  }
  .aboutImgContainer img {
    width: 50%;
    height: auto;
  }

  .aboutImg1 {
    position: static;
  }
  .aboutImg2 {
    position: static;
  }
  /* section1 end */
}

/* Tablets ---------------------------------------------------------------------------------------------- */
@media all and (min-width: 481px) and (max-width: 768px) {
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: block;
    position: sticky !important;
    top: 0;
  }
  /* top Section start */
  #topSection {
    height: calc(100vh - 81px);
  }
  .tsFormContainer {
    height: calc(100vh - 81px);
  }
  /* top Section end */
  /* section1 start */
  #section1 {
    padding: 100px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    display: none;
  }
  .abouTextContainer h2 {
    width: 100%;
  }

  /* section1 end */
}

/* Mobile devices */
@media all and (max-width: 480px) {
  h2 {
    font-size: 36px;
  }
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: block;
    position: sticky !important;
    top: 0;
  }
  /* top Section start */
  #topSection {
    height: calc(100vh - 81px);
  }
  .tsFormContainer {
    height: calc(100vh - 81px);
    width: 100%;
    padding: 10px;
  }
  /* top Section end */
  /* section1 start */
  #section1 {
    padding: 40px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first" " second";
    gap: 40px;
  }
  .aboutImgContainer {
    display: none;
  }
  .abouTextContainer h2 {
    width: 100%;
  }
  .aboutCards {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }

  /* section1 end */
}
